<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/brands.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/solid.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
  </head>
<body>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Sam</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#stack">Stack</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Dream it. Achieve it.</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Quality Assurance professional with 10+ years of experience. Proudly based in ATX.</p>
                        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Professional</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Hi, how are you? I'm Sam and currently I'm a Senior Software Engineer in Test. I have 10+ years of Quality Assurance experience. I've worn many hats
                          throughout the years working in the following industries: IT, Security, Shipping and Finance. I go from working on
                          the most "mundane" tasks like writing documentation and test cases on TestRail to introducing QA methodologies and 
                          building healthy and sustainable deployment processes. My primary tools have been Ruby, Capybara/RSpec and TestRail but I have worked with other 
                          automation tools like PlayWright and Cucumber/Gherkin. </p>      
                        <p class="text-white-75 mb-4"> I am currently looking for my first full time dev role, preferably Ruby but I do have experience with JS and am currently learning Python. This website is one of my first stabs at Ruby on Rails and frontend development :) I am open to other 
                          stacks as well and am a fast self-learner. 
                        </p>
                    </div>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Personal Life</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">I'm an INTJ with a creative mind. I graduated from The University of Texas at Austin with a BS in Computer Science and still reside in Austin, TX with my two cats, Gracie and Sir Whiskers. 
                          When I'm not chilling with my cats I'm usually learning something new. Currently I am learning about Machine Learning and Python.
                          Outside of tech I enjoy writing and hope to someday publish a book! I'm always listening to music so hit me up 
                          with your favorite bands.  </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Stack -->
        <section class="page-section" id="stack">
            <div class="container px-3 px-lg-5">
                <h2 class="text-center mt-0">Tech Stack</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">
                              Languages
                            </h3>
                            <p class="text-muted mb-0">Ruby</p>
                            <p class="text-muted mb-0">Javascript</p>
                            <p class="text-muted mb-0">Java</p>
                            <p class="text-muted mb-0">Python</p>
                            <p class="text-muted mb-0">Bash</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">
                              Automation
                            </h3>
                            <p class="text-muted mb-0">Capybara</p>
                            <p class="text-muted mb-0">Selenium/Webdriver</p>
                            <p class="text-muted mb-0">RSpec</p>
                            <p class="text-muted mb-0">Playwright</p>
                            <p class="text-muted mb-0">Cucumber</p>
                            <p class="text-muted mb-0">Minitest</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">
                              Tools
                            </h3>
                            <p class="text-muted mb-0">TestRail</p>
                            <p class="text-muted mb-0">JIRA</p>
                            <p class="text-muted mb-0">BrowserStack</p>
                            <p class="text-muted mb-0">Postman</p>
                            <p class="text-muted mb-0">Trello</p>
                            <p class="text-muted mb-0">Windows/macOS/Linux</p>
                        </div>
                    </div>
                                        <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">
                              Other
                            </h3>
                            <p class="text-muted mb-0">React</p>
                            <p class="text-muted mb-0">Bootstrap</p>
                            <p class="text-muted mb-0">Ruby on Rails</p>
                            <p class="text-muted mb-0">Salesforce</p>
                            <p class="text-muted mb-0">Github CI</p>
                            <p class="text-muted mb-0">Buildkite CI</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <h2 class="text-center mt-0">Porfolio</h2>
            <hr class="divider" />
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href=<%=image_url("2.PNG")%> title="MyWeeklyJams">
                            <img class="img-fluid" src=<%=image_url("2.PNG")%> alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">JS/React</div>
                                <div class="project-name">MyWeeklyJams</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="https://github.com/samanthas/Hooks/tree/main/mixtape" title="Mixtape">
                            <img class="img-fluid" src=<%=image_url("2.jpg")%> alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">JS/React</div>
                                <div class="project-name">Mixtape</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="https://github.com/samanthas/" title="More Projects">
                            <img class="img-fluid" src=<%=image_url("3.jpg")%> alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Code</div>
                                <div class="project-name">View More on Github</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Certificates</h2>
                <a class="btn btn-light btn-xl" href="https://www.linkedin.com/in/salinassamantha/details/certifications/">Go to LinkedIn</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Let's Get In Touch!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Message me for any resume or work requests!</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
<footer class="footer" style="background-color: rgba(246, 151, 112, 1);">
  <div class="text-center text-light p-3" style="background-color: rgba(4, 90, 88);">
    <div class="text-center p-3">
      <a
        class="btn btn-link btn-floating btn-lg text-light"
        href="https://www.linkedin.com/in/salinassamantha"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-linkedin" ></i></a>
  
      <a
        class="btn btn-link btn-floating btn-lg text-light"
        href="https://github.com/samanthas"
        role="button"
        data-mdb-ripple-color="light"
        ><i class="fa-brands fa-square-github"></i></a>
  </div>
    © 2023 Copyright:
    <a class="text-light" href="https://samanthas.dev/">samanthas.dev</a>
  </div>
</footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <%= javascript_include_tag "application" %>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>